@import "tailwindcss";

@theme {
  --color-bg: #0d1117;
  --color-text: #00ff41;
  --color-border: #00ff41;
  --color-text-second: #c9d1d9;
  --color-bg-second: #161b22;
  --color-card-border: #30363d;
  --color-card-bg: #161b22;
  --color-syntax-keyword: #bcbec4;
  --color-syntax-type: #c77dbb;
  --color-syntax-string: #ffc66d;
  --color-syntax-prop: #56a8f5;
  --color-text-defused: #8b949e;
}

body {
  @apply bg-bg text-text;
}

@keyframes floatSlow {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(40px, -60px);
  }
}