@import "tailwindcss";

@theme {
  --color-bg: #0d1117;
  --color-text: #00ff41;
  --color-border: #00ff41;
  --color-text-second: #c9d1d9;
  --color-bg-second: #161b22;
  --color-card-border: #30363d;
  --color-card-bg: #161b22;
  --color-syntax-keyword: #bcbec4;
  --color-syntax-type: #c77dbb;
  --color-syntax-string: #ffc66d;
  --color-syntax-prop: #56a8f5;
  --color-text-defused: #8b949e;
  --color-green-accent: #123024;
  --color-dark-green-accent: #10221E;
  --color-dark-yellow-accent: #2a2006;
  --color-dark-gray-accent: #1c1f24;
  --color-text-green-accent: #3fb950;
  --color-text-yellow-accent: #d29922;
  --color-text-gray-accent: #8b949e;
  --color-border-green-accent: #238636;
  --color-border-yellow-accent: #9e6a03;
  --color-border-gray-accent: #30363d;
}

body {
  @apply bg-bg text-text;
}

@keyframes floatSlow {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(40px, -60px);
  }
}

@layer utilities {
  .scanlines {
    background-image: repeating-linear-gradient(
      0deg,
      transparent,
      transparent 2px,
      rgba(0, 255, 65, 0.03) 2px,
      rgba(0, 255, 65, 0.03) 4px
    );
  }
}